@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(119, 0, 255, 0.137);
    color: black;
}

button{
    padding: 0.2rem 0.5rem;
    width: 25%;
    border: 1px solid;
    border-radius: 1rem;
    background-color: aqua;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

form{
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
}

input{
    width: 60%;
    margin: 1rem 0.5rem;
    padding: 0.3rem;
    border: 1px solid;
    border-radius: 0.5rem;
}


.header{
    margin: 0 auto;
    padding: 1rem;
}

.underline{
    width: 20%;
    margin: 0 auto;
    border-bottom: 5px dotted rgba(255, 0, 221, 0.733);
}

.main{
    margin: 1rem auto;
    padding: 1rem;
}

.todos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem auto;
    padding: 1rem;
    background-color: white;
    color: black;
}
.delete-btn{
    background-color: inherit;
    border: 1px;
}

.error{color:red}
.success{color:green}